# ignore everything
*

# but not the following files 
!.gitignore
!README.md

## sequentially update files ------------------------

# math refresher
!math_refresher/
!math_refresher/day1_LaTex/
!math_refresher/day1_LaTeX/*
!math_refresher/day2_R/
!math_refresher/day2_R/*
!math_refresher/day3_Rmarkdown/
!math_refresher/day3_Rmarkdown/*
!math_refresher/problems/
!math_refresher/problems/*

# Labs ----------------------------------------------

# Lab1
!Lab1/
!Lab1/simdat.csv
!Lab1/Lab1.html
!Lab1/Lab1.Rmd

# lab2
!Lab2/
!Lab2/Lab2.Rmd
!Lab2/Lab2.html

# lab3
!Lab3/
!Lab3/Lab3.Rmd
!Lab3/Lab3.html

# lab4
!Lab4/
!Lab4/Lab4.Rmd
!Lab4/Lab4.html

# lab5
!Lab5/
!Lab5/Lab5.Rmd
!Lab5/Lab5.html

# lab6
!Lab6/
!Lab6/Lab6.html

# lab7
!Lab7/
!Lab7/Lab7.html

# Data ----------------------------------------------

!data/
!data/regdat.csv
!data/lab5.csv

## Assignments --------------------------------------

# assignments directory
!assignments/

# assignment1
!assignments/assignment1/
!assignments/assignment1/assignment1.pdf

# assignment2
!assignments/assignment2/
!assignments/assignment2/assignment2.pdf

# assignment3
!assignments/assignment3/
!assignments/assignment3/assignment3.pdf

.Rproj.user
